{% extends "base.html" %}
{% block content %}
	<h1>Benito</h1>
	<!--embed images-->
	<div><img src="../static/images/beni_puppy.jpeg" alt="beni_puppy">
	<img src="../static/images/benito.jpeg" alt="Benito"></div>
	<h2>About</h2>
	<p>Benito "Beni" Nieves is a one year old <!--Link to AKC website--><a href="https://www.akc.org/dog-breeds/german-shepherd-dog/">German Shepherd</a>. 
Beni was welcomed into the Nieves Household in June of 2021. His favorite activities include fetch and being slapped by the cat.</p>
	<h3>Favorite Foods</h3>
	<ol>
  		<li>Peanut Butter</span></li>
		<li>Chicken and rice</span></li>
		<li>Freeze dried chicken</span></li>
		<li>Ben and Jerry's Dog Ice Cream <!--Link to Ben and Jerry's Site--><a href="https://www.benjerry.com/flavors/pontchs-mix-doggie-dessert"><span class="s2">(Pontch's Mix)</span></a></li>
	</ol>
{% endblock %}
