{% extends "base.html" %}
{% block content %}
<form method="POST">
	<h3">Login</h3>
	<!--Input block for user e-mail-->
	<div class="form-group">
	<label for="email">Email Address</label>
    		<input
     	 	type="email"
		class="form-control"
		id="email"
		name="email"
		placeholder="Enter email"
	/>
 	</div>
	<!--Input block for user password-->
  	<div class="form-group">
	<label for="password">Password</label>
		<input
     		type="password"
      		class="form-control"
      		id="password"
      		name="password"
     		placeholder="Enter password"
    		/>
 	</div>
<!--Submission button to submit data to database.db-->
<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}


