{% extends "base.html" %}
{% block content %}
<head>
	<h1>Pop Tart</h1>
	<!--embed photo of cat-->
	<img src="../static/images/poptart.jpeg" alt="poptart">
</head>
	<h2>About</h2>
	<p>Pop Tart "P" Nieves is a 7 year old <a href="https://en.wikipedia.org/wiki/Domestic_short-haired_cat">domestic short-haired</a>
	Tuxedo cat. She was born in Fairborn, Ohio to a family that was unable to care for a litter of kittens, 
	and was adopted into our family at 7 weeks old. Similar to <a href="beni">Beni</a>, P is a massive fan 
	of freeze dried chicken. </p>
	<h3>Hobbies</h3>
	<ul>
		<li>Sleeping</li>
		<li>Eating</li>
		<li>Guarding the home from lizards on the window sill</li>
		<li>Slapping ankles of passersby</li>
	</ul>
{% endblock %}